{% extends 'base.html' %}

{% block content %}
    <section class="hero-wrap hero-wrap-2 js-fullheight"
             style="background-image: url('../static/homepage/images/bg_2.png');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container py-5 px-5">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-lg-8 col"></div>
                <div class="col-lg-4 col-md-12 mt-0 mt-md-5 d-flex">
                    <form action="#" class="request-form ftco-animate">
                        <h2>Pick your vehicle</h2>
                        <form method="get">
                            {{ my_filter.form.as_p }}
                            <button class="btn btn-primary py-2 px-4" type="submit">Search</button>
                        </form>
                    </form>
                </div>

                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs">
                        <span class="mr-2">
                            <a href="{% url 'home' %}">Home <i class="ion-ios-arrow-forward"></i></a>
                        </span>
                        <span>Our Vehicles <i class="ion-ios-arrow-forward"></i></span>
                    </p>
                    <h1 class="mb-3 bread">Choose Your Vehicle</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                {% for item in list_vehicle %}
                    <div class="col-md-6">
                        <div class="car-wrap ftco-animate">

                            <div class="img d-flex align-items-end"
                                 style="background-image: url('{{ item.image.url }}');">
                                <div class="price-wrap d-flex">
                                    <span class="rate">{{ item.rent_price }}</span>
                                    <p class="from-day">
                                        <span>From</span>
                                        <span>/Day</span>
                                    </p>
                                </div>
                            </div>

                            <div class="text p-4 text-center">
                                <h2 class="mb-0"><a href="car-single.html">{{ item.name }}</a></h2>
                                <span>{{ item.manufacturer }}</span>
                                <span><strong>{{ item.hire_point }}</strong></span>
                                <div class="d-flex mb-0 d-block justify-content-center">
                                    <form action="/vehicle_single" method="GET">
                                        <button name="Book_now" type="submit" value="book_now"
                                                class="btn btn-black btn-outline-black mr-1">Book now
                                        </button>
                                        <button name="Details" type="submit" value="details"
                                                class="btn btn-black btn-outline-black mr-1">Details
                                        </button>
                                        <input type="hidden" name="vehicle_single" value="{{ item.name }}"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="row justify-content-center">
                    <div class="pagination">
                        <span class="step-links">
                            {% if list_vehicle.has_previous %}
                                <a href="?page={{ list_vehicle.previous_page_number }}">Previous </a>
                            {% endif %}
                        </span>
                        <span class="current">
                            Page {{ list_vehicle.number }} of {{ list_vehicle.paginator.num_pages }}
                        </span>
                        <span>
                            {% if list_vehicle.has_next %}
                                <a href="?page={{ list_vehicle.next_page_number }}"> Next</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}