{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div class="hero-wrap" style="background-image: url('static/homepage/images/bg_1.png');"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text justify-content-start align-items-center">
                <div class="col-lg-6 col-md-6 ftco-animate d-flex align-items-end">
                    <div class="text">
                        <h1 class="mb-4">Now, <span>It's easy for you</span> <span>rent a vehicle!</span></h1>
                    </div>
                </div>
                <div class="col-lg-2 col"></div>
                <!--
                <div class="col-lg-4 col-md-6 mt-0 mt-md-5 d-flex">
                    <form action="#" class="request-form ftco-animate">
                        <h2>Pick your vehicle</h2>
                        <div class="form-group">
                            <label for="" class="label">Vehicle</label>
                            <input type="text" class="form-control" placeholder="Car/Motobike/Bicycle">
                        </div>
                        <div class="form-group">
                            <label for="" class="label">Location</label>
                            <input type="text" class="form-control" placeholder="Hanoi/Hochiminh">
                        </div>
                        <div class="d-flex">
                            <div class="form-group mr-2">
                                <label for="" class="label">Pick-up date</label>
                                <input type="text" class="form-control" id="book_pick_date" placeholder="Date">
                            </div>
                            <div class="form-group ml-2">
                                <label for="" class="label">Drop-off date</label>
                                <input type="text" class="form-control" id="book_off_date" placeholder="Date">
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Search Vehicle" class="btn btn-primary py-3 px-4">
                        </div>
                    </form>
                </div>
                -->
            </div>
        </div>
    </div>
    <br>
    <br>
<section class="ftco-section services-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">Our Services</span>
                <h2 class="mb-2">Our Services</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                    <div class="media-body py-md-4">
                        <div class="d-flex mb-3 align-items-center">
                            <div class="icon"><span class="flaticon-customer-support"></span></div>
                            <h3 class="heading mb-0 pl-3">24/7 Support</h3>
                        </div>
                        <p>Support description</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                    <div class="media-body py-md-4">
                        <div class="d-flex mb-3 align-items-center">
                            <div class="icon"><span class="flaticon-route"></span></div>
                            <h3 class="heading mb-0 pl-3">Lots of location</h3>
                        </div>
                        <p>Hanoi, Danang, Hochiminh,...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                    <div class="media-body py-md-4">
                        <div class="d-flex mb-3 align-items-center">
                            <div class="icon"><span class="flaticon-online-booking"></span></div>
                            <h3 class="heading mb-0 pl-3">Reservation</h3>
                        </div>
                        <p>Reservation description</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                    <div class="media-body py-md-4">
                        <div class="d-flex mb-3 align-items-center">
                            <div class="icon"><span class="flaticon-rent"></span></div>
                            <h3 class="heading mb-0 pl-3">Rental Cars</h3>
                        </div>
                        <p>Fast & Devotion</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <br>
    <br>
<section class="ftco-section services-section img" style="background-image: url(static/homepage/images/bg_2.png);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <span class="subheading">Work flow</span>
                <h2 class="mb-3">How it works</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services services-2">
                    <div class="media-body py-md-4 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="flaticon-route"></span></div>
                        <h3>Pick Information</h3>
                        <p>Information about vehicle, location, pick-up date, drop-off date</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services services-2">
                    <div class="media-body py-md-4 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="flaticon-select"></span></div>
                        <h3>Choose A Vehicle</h3>
                        <p>Pick a vehicle you want</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services services-2">
                    <div class="media-body py-md-4 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="flaticon-rent"></span></div>
                        <h3>Receive Car</h3>
                        <p>You can go to the store or book a ship</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services services-2">
                    <div class="media-body py-md-4 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="flaticon-review"></span></div>
                        <h3>Enjoy The Ride</h3>
                        <p>Be careful and enjoy your ride</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Feedbacks</span>
                <h2 class="mb-3">Happy Clients</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(static/homepage/images/person.png)">
                            </div>
                            <div class="text pt-4">
                                <p class="mb-4">Devoted service</p>
                                <p class="name">VTD</p>
                                <span class="position">Project Manager</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(static/homepage/images/person.png)">
                            </div>
                            <div class="text pt-4">
                                <p class="mb-4">Devoted service</p>
                                <p class="name">VTD</p>
                                <span class="position">Project Manager</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(static/homepage/images/person.png)">
                            </div>
                            <div class="text pt-4">
                                <p class="mb-4">Devoted service</p>
                                <p class="name">VTD</p>
                                <span class="position">Project</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(static/homepage/images/person.png)">
                            </div>
                            <div class="text pt-4">
                                <p class="mb-4">Devoted service</p>
                                <p class="name">VTD</p>
                                <span class="position">Project Manager</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(static/homepage/images/person.png)">
                            </div>
                            <div class="text pt-4">
                                <p class="mb-4">Devoted service</p>
                                <p class="name">VTD</p>
                                <span class="position">Project Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->
    <br>
    <br>
<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center"
                 style="background-image: url(static/homepage/images/promotion.png);">
            </div>
            <div class="col-md-6 wrap-about py-md-5 ftco-animate">
                <div class="heading-section mb-5 pl-md-5">
                    <span class="subheading">Promotion</span>
                    <h2 class="mb-4">Weekly Specials</h2>

                    <p>Enjoy your 2020 summer vacation.</p>
                    <p>Best offer now!</p>
                    <p><a href="{% url 'vehicle' %}" class="btn btn-primary">Rent Vehicle Now</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Blog</span>
                <h2>Recent Blog</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <a href="{% url 'blog-1' %}" class="block-20 img"
                       style="background-image: url('../static/homepage/images/blog-1.jpg');">
                    </a>
                     <div class="text pt-4">
                        <div class="meta mb-3">
                            <div><a href="#">June. 10, 2020</a></div>
                            <div><a href="#">Trọng Đạt</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 1</a></div>
                        </div>
                        <h3 class="heading mt-2"><a href="{% url 'blog-1' %}">Kinh Nghiệm Cần Lưu Ý Khi Thuê Ô tô Tự Lái</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <a href="{% url 'blog-2' %}" class="block-20 img"
                       style="background-image: url('../static/homepage/images/blog-2.jpg');">
                    </a>
                    <div class="text pt-4">
                        <div class="meta mb-3">
                            <div><a href="#">June. 12, 2020</a></div>
                            <div><a href="#">Trọng Đạt</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mt-2"><a href="{% url 'blog-2' %}">Kinh nghiệm thuê xe máy đi phượt – Đừng bỏ qua cho dù bạn là dân chuyên</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry">
                    <a href="{% url 'blog-3' %}" class="block-20 img"
                       style="background-image: url('../static/homepage/images/blog-3.jpg');">
                    </a>
                    <div class="text pt-4">
                        <div class="meta mb-3">
                            <div><a href="#">June. 11, 2020</a></div>
                            <div><a href="#">Trọng Đạt</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mt-2"><a href="{% url 'blog-3' %}">Đạp xe quanh Hồ Tây Hà Nội – trải nghiệm bạn không nên bỏ lỡ</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}